/* --- RESET --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- COMMON & CONTAINERS --- */

main, aside {
    display: flex;
    height: calc(100vh - 90px);
}

.container-section {
    background-color: #141922;
    width: calc(100% - 230px);
    flex-direction: row;
    /* scrollbar */
    overflow-y: auto;
    padding-top: 100px;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

aside {
    flex-direction: column;
    width: 230px;
    /* per non far ridurre la colonnina */
    flex-shrink: 0;
    background-color: black;
    z-index: 420;
    overflow-y: auto;
}

footer {
    display: flex;
    background-color: #282828;
    align-content: space-between;
    height: 90px;
}

header {
    height: 90px;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    z-index: 69;
}

a {
    text-decoration: none;
    color: white;
}

nav,ul,li {
    display: inline-block ;
    display: flex;
}

h2 {
    font-size: 28px;
}

.grey {
    color: #a3a3a3;
}

.white {
    color: white;
}

.allign-middle {
    vertical-align: middle;
    display: inline-block;
}

.px-icon {
    font-size: 20px;
    margin-right: 3px;
}

.px-icon-grande {
    font-size: 25px;
    margin-right: 5px;
}

/* ----- CLASS ----- */

/* header */

.logo {
    width: 150px;
    margin: 15px 10px;    
}

.nav-aside {
    padding: 7px 10px;
    font-size: 14px;
}

.playlist {
    padding: 15px 10px 5px 10px;
    display: inline-block;
}

.fa-solid.fa-square-plus {
    font-size: 40px;
}
.upgrade {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

.bottone-upgrade {
    padding: 12px 40px;
    margin-right: 25px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.link-alto {
    margin-left: 15px;
    font-size: 15px;
}

/* main */
.top-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.recently-played {
    margin: 20px 0px;
}

.sezione-1, .sezione-2, .sezione-3 {
    display: flex;
    flex-wrap: wrap;
}

.box-album {
    width: calc(100% / 6 - 10px);
    flex-direction: column;
    align-items: center;
    margin: 15px 5px;
    text-align: center;
    position: relative;
}

.titolo-album {
    padding: 10px 0px 5px 0px;
}

.immagine-album {
    width: 100%;
    max-height: 100%;
    display: block;
}

.img-rotonda {
    border-radius: 100px;
    display: block;
}

.link-alto > strong:hover::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    height: 3px;
    width: 60px; 
    background-color: lightgreen; 
} 
/* 
.img-rotonda:hover, .immagine-album:hover {
    opacity: 20%;
} */

.overlay-album::after {
    content: "\f144";
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 55px;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    font-size: 60px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
}

.box-album:hover .overlay-album::after {
    opacity : 1;
}

/* aside */

.playlist {
    /* per spingere verso il basso footer-aside */
    flex-grow: 1;
}

.grow-playlist {
    flex-grow: 1;
}

.hr-aside {
    width: 85%;
    height: 1px;
    align-self: center;
    margin: 4px 0px;
}

.barretta-verde-aside:hover {
    border-left: 4px solid lightgreen;
}

i:hover, strong:hover {
    color: white;
}


/* footer */

.footer-sinistra {
    display: flex;
    align-items: center;
}

.footer-sinistra img {
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}



.barretta-player-sfondo {
    width: da decidere;
    height: da decidere;
    background-color: da decidere;
    border-radius: 5px;
}

.barretta-player-esecuzione {
    width: % da decidere;
    /* prende altezza dal genitore */
    height: 100%;
}

/* pallino barretta */
.barretta-player-esecuzione::after {
    content:
}



/* ELEMENTO AFTER CON POSITION ABSOLUTE PER LA BARRETTINA LINK IN ALTO */
/* span e display none per far sparire le scritte quando la media queary lo richiede */
/* overlay album: nel div dell'immagine 
metto il div overlay con position absolute
top 0 left 0 width height 100% */
/* dare hover al div dell'album */

footer {
    background-color: #282828;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

footer i {
    cursor: pointer;
}

.col-sinistra {
    display: flex;
    align-items: center;
}

.col-sinistra img {
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.col-sinistra h5 {
    color: #fff;
}

.col-sinistra-album a {
    font-size: 13px;
}

.fa-heart {
    margin: 0 10px 0 30px;
}

.col-centrale, .col-destra {
    color: #fff;
}

.col-centrale {
    text-align: center;
}

.simbols i {
    margin: 0 15px;
}

.fa-circle-play {
    font-size: 25px;
}

.play {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.play-bar {
    width: 400px;
    height: 4px;
    background-color: #5a5a5a;
    margin: 0 20px;
    border-radius: 10px;
}

.play-bar-active, .col-destra-bar-active {
    background-color: #c1c1c1;
    border-radius: 10px;
    cursor: pointer;
    height: 4px;
    position: relative;
}

.play-bar-active {
    width: 70px;
}

.col-destra {
    display: flex;
    align-items: center;
}

.col-destra i {
    margin: 0 10px;
}

.col-destra-bar {
    width: 150px;
    height: 4px;
    background-color: #5a5a5a;
    border-radius: 10px;
}

.col-destra-bar-active {
    width: 40px;
}

.play-bar-active:hover, .col-destra-bar-active:hover {
    background-color: lightgreen;
}

.play-bar-active:hover::after, .col-destra-bar-active:hover::after {
    content: "";
    display: block;
    background-color: #c1c1c1;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute;
    top: -3px;
    right: 0;
}

.col-centrale .fa-circle-play:hover {
    transform: scale(1.1);
}

.col:hover .overlay {
    display: flex;
}

/* responsive  */

@media  and (max-width: 1100px) {
    .box-album {
        width: calc
    }
}