/* --- RESET --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- COMMON & CONTAINERS --- */

.container-section, aside {
    display: flex;
    height: calc(100vh - 90px);
}

.container-section {
    background-color: #141922;
    width: calc(100% - 230px);
    /* scrollbar */
    overflow-y: auto;
}

main {
    display: flex;
}

aside {
    flex-direction: column;
    width: 230px;
    /* per non far ridurre la colonnina */
    flex-shrink: 0;
    background-color: black;
    z-index: 420;
}

footer {
    display: flex;
    background-color: #282828;
    align-content: space-between;
    height: 90px;
}

header {
    height: 90px;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    z-index: 69;
}

/* ----- CLASS ----- */

/* header */

.logo {
    width: 160px;
}


/* aside */

.playlist {
    /* per spingere verso il basso footer-aside */
    flex-grow: 1;
}

/* footer */

.barretta-player-sfondo {
    width: da decidere;
    height: da decidere;
    background-color: da decidere;
    border-radius: 5px;
}

.barretta-player-esecuzione {
    width: % da decidere;
    /* prende altezza dal genitore */
    height: 100%
}

/* pallino barretta */
.barretta-player-esecuzione::after {
    content:
}